extends layout
block content

  #wrap
    .container
        .page-header.grey
          h1 Give
          p.lead Charity payments made easy.
        center
          #amount-counter
            h1
              span €
              | 300
          p.lead Help us help others and boost your karma.
          p
            a#donate-button.btn.btn-primary.btn-large Donate now
      #donations-stream
        .container
          .donation
            a.btn.twitter-button Follow
            h3
              strong €10
              | by
              a(href='http://twitter.com/schuchalexander') @schuchalexander
          .donation
            a.btn.twitter-button Follow
            h3
              strong €25
              = "| by "
              a(href='http://twitter.com/matthiasleitner') @matthiasleitner
      #push
    #footer
      .container
        p.muted.credit
          | Built for
          a(href='http://twitter.com') #lwshackday
          | by
          a(href='http://matthiasleitner.com') Matthias Leitner
          | and
          a(href='http://schuch.me') Alexander Schuch
          | .


  .container
    .payment-errors
      p
    form#payment
      .row
        fieldset
          ol
            li
              label(for='amount') Amount to give
              input#amount(name='amount', type='text', required='required', placeholder='10')
            li
              label(for='mastercard') Expiry month
              select#exp_month(name='exp_month', required='required')
                option(value='01') 01
                option(value='02') 02
                option(value='03') 03
                option(value='04') 04
                option(value='05') 05
                option(value='06') 06
                option(value='07') 07
                option(value='08') 08
                option(value='09') 09
                option(value='10') 10
                option(value='11') 11
                option(value='12', selected) 12
            li
              label(for='mastercard') Expiry year
              select#exp_year(name='exp_year', required='required')
                option(value='2013') 2013
                option(value='2014', selected) 2014
                option(value='2015') 2015
                option(value='2016') 2016
                option(value='2017') 2017
                option(value='2018') 2018
                option(value='2019') 2019
                option(value='2020') 2020
                option(value='2021') 2021
                option(value='2022') 2022
            li
              label(for='cardnumber') Card Number
              input#cardnumber(name='cardnumber', type='text', required='required', placeholder='Card Number', value="4111111111111111")
            li
              label(for='secure') Security Code
              input#secure(name='secure', type='text', required='required', class='card-cvc', placeholder='CVC', value="585")
            li
              label(for='namecard') Name on Card
              input#namecard(name='namecard', type='text', placeholder='Exact name as on the card', required='required', value="Happy Donor")
        fieldset
          button.btn.btn-primary.btn-large(type='button') Buy It!



